<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="form-inline">-->
<!--    <img id="captchaImg" onclick="refreshCapture()" width="130" height="28"-->
<!--         style="display:none;">-->
<!--    <input id="captcha" name="captcha" class="form-control" style="display:none;">-->
<!--    <button type="button" class="btn-primary btn" id="buyButton"-->
<!--            onclick="doSeckill()">-->
<!--        立即秒杀-->
<!--        <input type="hidden" id="goodsId" name="goodsId">-->
<!--    </button>-->
<!--</body>-->
<!--</html>-->